.container{

      .formContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            margin: auto;
            gap: 10px;


            textarea{
                  resize: none;
            }

            button{
                  width: 20%;
            }
      }
}