.container{
      display: grid;
      grid-template-columns: 200px 2fr;
      .tablecontainer{
            width: 70%;
            grid-column-start: 2;
            text-align: center;
            margin: auto;
            .categories{
                  display: grid;
                  grid-template-columns: repeat(6, 1fr);
                  text-align: center;
                  gap: 30px;
      
                  h1{
                        font-size: 20px;
                  }
            }

            .productContainer{
                  height: 720px;
            }

            .pag{
                  width: 100%;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  gap: 40px;
                  margin-top: 10px;
                  margin-bottom: 100px;
                  button{
                        width: 10%;
                        height: 30px;
                        color: white;
                        background-color: rgb(48, 48, 63);
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                  }
            }
      }
}
