.form_prod{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    /* background-color: aqua; */

}
.img_prod{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.788);
}
.container_gral_prod{
    background: linear-gradient(to bottom, rgba(17, 13, 145, 0.822),rgba(197, 197, 209, 0.603));
    display: flex;
    height: 680px;
    justify-content: center;
    align-items: center;
}
.textf_{
    position: relative;
    margin: 10px;
    background-color: rgba(242, 243, 250, 0.733);
    border-radius: 10px;
}
.container_for_img{
    background-color: rgba(78, 78, 117, 0.308);
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text_f_{
    height: 60px;
    color: rgb(2, 2, 24);
    background-color: rgba(242, 243, 250, 0.733);
    border-radius: 10px;
    padding: 5px;
}
.select__{
    background-color: rgba(242, 243, 250, 0.733);
    width: 60%;
    margin-left: 20%;
    height: 40px;
    border-radius: 5px;
}
.txt_til{
    color: rgb(7, 4, 22);
    font-family:monospace;
    font-size: 19px;
    text-shadow: 1px 1px 1px #fff;
}