.container{
      height: 20px;
      overflow: hidden;
      position: relative;
      display: grid;
      gap: 2px;
      grid-template-columns: repeat(6, 1fr);
      text-align: center;
      border: 1px  solid rgb(134, 134, 134);
      padding: 20px;
      margin-bottom: 10px;

      h1{
            font-size: 15px;
            transform: translateY(-10px);
      }

      .buttonContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            right: 2px;
            top: 6px;
            gap: 6px;
            grid-column-start: 6;
            position: absolute;
            top: 13px;
      }
}

