.container{
      display: flex;
      flex-direction: column;
      width: 200px;
      gap: 50px;
      align-items: center;
      position: absolute;
      height: 100%;
      padding-top: 100px;
      button{
            width: 80%;
      }
}
